@import "tailwindcss";
@plugin "daisyui";

body{
    background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('./assets/david-schultz-SrewPUfo2c0-unsplash.jpg');
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}