@import "tailwindcss";
@plugin "daisyui";

body{
    background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url('./assets/678961b104ca72a275d41a4dfb738585.jpg');
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}